.app-wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows:60px 1fr;
    gap: 10px;
    margin: 50px auto;

    width: 1200px;
}


.app-wrapper-content {
    grid-column: 2/-1;
    grid-row: 2/3;

    background-color: cornflowerblue;
}

